/* body{
    background-image: url('eats/wedding.jpg'), url(https://grainy-gradients.vercel.app/noise.svg)!important; 
    /* background-color: rgb(255, 255, 255, 0.6); */
    /* background-blend-mode: overlay; */
    /* background-repeat: no-repeat;
    background-size: cover;
     */




 .bookings-section{
    padding-top:0;
    margin: 2rem 3rem;
 }
 
  .bookings-section form{
    /* flex: 1 1 50rem; */
    padding: 1.5rem;
    border-radius: 3rem;
    background: var(--white);
    border: .0005rem solid rgb(231, 231, 231);
    box-shadow: 0 .1rem .5rem rgb(99, 96, 96);

  }


.bookings-section  .btn{
  border: 0.0005rem solid var(--main-color);
  padding: .6rem 2.1rem;
  border-radius: 0.8rem;
  margin-top: 2rem !important;
  font-weight: bolder;
  color: var(--main-color);
  font-size: 1rem;
  margin-top: 0rem  !important;
}
 

.bookings-section .box-container .inputBox {
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    gap: 1rem;
    display:grid;
    flex-wrap: wrap;

}

.bookings-section .box-container img  {
  height: 18rem;
  width: 100%;
  border-radius: 2rem 2rem .3rem .3rem;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
}

.bookings-section form .inputBox input{
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
/* outline: 1px rgb(187, 38, 152) dashed; */
  width: 100%;
  margin:1rem 0;
  padding: 1rem;
  font-size: 1rem;
  color:#222;
  justify-content: space-between;
  border-radius: .5rem;
  background: whitesmoke;
}

