  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@200;700&family=Poppins:wght@200;600&family=Source+Sans+Pro&display=swap');

/* font-family: 'DM Serif Text', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

:root{
    --main-color: green;
    --black: #222;
    --white: #fff;
    --border: 1rem solid var(--black);
    --box-shadow: 0 .1rem 1rem rgb(19, 18, 18);
    --text-shadow: 0 .5rem 3rem rgba(0,0,0.3);
    --border: 0.1rem solid rgb(198, 198, 198);
    --soft-shadow: 0 .1rem  .7rem rgb(83, 83, 83);
    --sub-color: rgb(0, 31, 0);
}

*{
    font-family: 'poppins', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;


}

body {
    font-size: 100%;
    overflow-x: hidden;
    background: whitesmoke;

}
html{
    scroll-behavior: smooth;

}

html::webkit-scrollbar{
    width: 0.5rem;

}

html::webkit-scrollbar-track{
    background-color: var(--white);
}

html::webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

html::webkit-scrollbar-thumb:hover{
    background-color: var(--main-color);
}

.header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white) ;
    display: flex;
    padding-top: 0rem;
    padding-bottom: 0rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

section{
    padding: 5rem 5%;
}

  .header .logo{
    padding-top: 0rem;
    /* border: .1rem solid grey; */
    margin-top: 0;
    border-radius: 7%;
    height: 3.7rem;

}

.header .logo img{
    margin-top: 0;
    padding-top: 0;
    height: 4rem;
}

.header .navbar a{
    font-size: 1rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-btn{
    font-size: 1rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

@media (max-width:1200px){
    section {
        padding: 3rem, 5%;
    }
}

@media (max-width:991px){
    html{
        font-size:60%;
    }
    
    section {
        padding: 3rem, 2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .3s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
        transform-origin: center;
    }

    .header .navbar {
        position:absolute;
        top: 99%; left:0; right:0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .5s linear;
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    .header .navbar.active {
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;

    }

}
@media (max-width:450px){
    html{
        font-size:50%;
    }

}

.footer {
    background: var(--sub-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: .5rem;
}

.footer .box-container .box h3{
    color: var(--white);
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.footer .box-container .box a{
    color: var(--white);
    font-size: .7rem;
    padding-bottom: .5rem;
    display: block;

}
.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: 1rem;
    transition: 0.5s linear;

}

.footer .box-container .box a:hover i{
    color: mediumseagreen;
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: .1rem solid var(--white);
    font-size: 1rem;
    color:var(--white);
}

.footer .credit span{
    color:var(--main-color);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-flow: column;
    position: relative;
    z-index:0 ;

}

.home .content{
    text-align: center;
    margin-top: 8rem;
    /* padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; */

}

.home .content h3{
    font-size: 3rem;
    color: rgba(220, 219, 219, 0.847);
    text-transform: uppercase;
    padding: 5rem, 0;

}

.home .content p{
    font-size: 2.5rem;
    color: rgba(220, 219, 219, 0.847);
    padding: 5rem, 0;
}



.btn{
    display: inline-block;
    border: .0005rem solid var(--sub-color);
    background: var(--white);
    padding: 0.5rem 3rem;
    text-decoration: none;
    border-radius: 0.3rem;
    margin-top:15%;
    
}
.btn:hover{
    background: rgb(182, 181, 181);
    transition: .5s;
    opacity: .7;
    
}

a.btn {
    color: var(--main-color); 
    font-weight: bolder;
  }

  a.btn:hover {
    color: var(--white); 
    font-weight: bolder;
    
  }
.home .controls{
    padding:1rem;
    border-radius: 5rem;
    position: relative;
    top: 2rem;

}

.home .controls .photo-btn{
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 50%;
    background: #edecec;
    cursor: pointer;
    margin: 0 .5rem;  

}
 
  .home .controls .photo-btn:hover {
    background-color: #a8a7a7;
    transition: background-color 0.6s ease;

  }
  

  .home .controls .photo-btn.active{
    background: var(--main-color);
  }
  
.fa-map-marker-alt {
    /* font-size: .5rem; */
}


  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
hr{
  border: none;
  border: .005rem solid var(--main-color); 
margin-bottom: 1rem;
display: flex;
margin-right:5rem;
margin-left:5rem;



}



  .home .photo-container img{
    position: absolute;
    top:0; left:0;
    z-index: -1;
    height: 95%;
    width: 100%;
    object-fit: cover;
  }
 
  .top-destinations{
    padding-top: 0;
    padding-left: 5rem;
    padding-right: 5rem;


  }

  .top-destinations .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    cursor: pointer;



  }


  .top-destinations .box-container .box {
    background: var(--white);
    border: .0005rem solid rgb(231, 231, 231);
    border-radius: .5rem;
    /* box-shadow: var(--soft-shadow); */


  }

 
  .top-destinations  h1{
    text-align: center;
    padding-bottom: .2rem;
    font-size: 2.5rem;
  }
  .top-destinations .box-container  .box image{
    height: 4rem;
    overflow: hidden;
    
  }
  

  .top-destinations .box-container .box:hover .image img{
    transition: 0.3s;
    opacity:0.7;
    


  }




  .top-destinations .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    border-radius: .5rem .5rem 0 0;

 }

 .top-destinations .box-container .box .content{
   text-align: center;
   padding: 1.5rem;
 }

 .top-destinations .box-container .box p{

    font-size: 1rem;
    color: var(--main-color);
    line-height: 2;
    padding: .5rem 0;

 }

 .top-destinations .box-container .box  .content .btn{
    cursor: pointer;
    margin-top: 1rem;

 }


  /* about sectiion css */
  .about-section{
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;

  }

  /* .about-section .box-container .box {
    background: var(--white);
    border: .0005rem solid rgb(231, 231, 231);
    border-radius: .5rem;
    /* box-shadow: var(--soft-shadow); */
  

  .about-section .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: .5rem;
  
  }


  .about-section .box-container  .box .image{
    
    height: 10rem;
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;    
   
  }

  .about-section .box-container  .box{
  display: flex;
  justify-content: center;
  align-items: center;

  }

  .about-section .box-container .box .image img{
    height: 10rem;
    width: 11rem;
    object-fit: cover;
    border-radius: .5rem;
    border: .0005rem solid rgb(184, 184, 184);

 }

 .about-section  h1{
    text-align: center;
    padding-bottom: .2rem;
    padding-top: 2rem;
    font-size: 2.5rem;
  }


  
 .about-section .about-content p{
    font-size: 1rem;
    color: var(--main-color);
    line-height: 2;
    /* padding: .5rem 0; */
    justify-content: center;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;

 }
 .about-section .about-content p .btn{

    /* display: inline-block; */
    border: .0005rem solid var(--sub-color);
    background: var(--white);
    padding: 0.25rem 3rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

 }
  

 .about-section .about-content p .btn:hover{
    background: rgb(182, 181, 181);
    transition: .5s;
    opacity: .7;
    
}

