  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@200;700&family=Poppins:wght@200;600&family=Source+Sans+Pro&display=swap');
  

/* font-family: 'DM Serif Text', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

:root{
    --main-color: green;
    --black: #222;
    --white: #fff;
    --border: 1rem solid var(--black);
    --box-shadow: 0 .1rem 1rem rgb(19, 18, 18);
    --text-shadow: 0 .5rem 3rem rgba(0,0,0.3);
    --border: 0.1rem solid rgb(198, 198, 198);
    --soft-shadow: 0 .1rem  .7rem rgb(83, 83, 83);
    --sub-color: rgb(0, 31, 0);
    --new-border: rgb(184, 184, 184);
    --p-text: rgb(106, 106, 106);
    --home-border-box:  .05rem solid rgb(231, 231, 231);


}

*{
  
    font-family: 'poppins', serif;

   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;


}



body {
    font-size: 100%;
    overflow-x: hidden;
    background: whitesmoke;

}



html{
    scroll-behavior: smooth;

}

html::-webkit-scrollbar{
    width: .7rem;
    border-radius: .3rem;

}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: .3rem;

}


html::-webkit-scrollbar-thumb:hover{
    background-color: #222;
}

.header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white) ;
    display: flex;
    padding-top: 0rem;
    padding-bottom: 0rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

section{
    padding: 5rem 5%;
}

  .header .logo{
    padding-top: 0rem;
    /* border: .1rem solid grey; */
    margin-top: 0;
    border-radius: 7%;
    height: 3.7rem;

}

.home .content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}

.header .logo img{
    margin-top: 0;
    padding-top: 0;
    height: 4rem;
}

.header .navbar a{
    font-size: 1rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-btn{
    font-size: 1rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

@media (max-width:1200px){
    section {
        padding: 3rem, 5%;
    }
}

@media (max-width:991px){
    html{
        font-size:60%;
    }
    
    section {
        padding: 3rem, 2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .3s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
        transform-origin: center;
    }

    .header .navbar {
        position:absolute;
        top: 99%; left:0; right:0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .5s linear;
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    .header .navbar.active {
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;

    }

}
@media (max-width:450px){
    html{
        font-size:50%;
    }

}

.footer {
    background: var(--sub-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: .5rem;
}

.footer .box-container .box h3{
    color: var(--white);
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}
/* 
input:invalid {
  /* border: 1px solid red; */
 

/* input:invalid + span::before {
  content: "✖";
  /* color: red; */


/* textarea:invalid + span::before {
  content: "✖";
  color: red;
}
 */

/* input:valid + span::before {
  content: "✓";
  color: green;
} */

.footer .box-container .box a{
    color: var(--white);
    font-size: .7rem;
    padding-bottom: .5rem;
    display: block;

}
.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: 1rem;
    transition: 0.5s linear;

}

.footer .box-container .box a:hover i{
    color: mediumseagreen;
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: .1rem solid var(--white);
    font-size: 1rem;
    color:var(--white);
}

.footer .credit span{
    color:var(--main-color);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-flow: column;
    position: relative;
    z-index:0 ;

}

.home .content{
    text-align: center;
    margin-top: 8rem;
    /* padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; */

}

.home .content h3{
    font-size: 3rem;
    color: rgba(220, 219, 219, 0.847);
    text-transform: uppercase;
    padding: 5rem, 0;

}

.home .content p{
    font-size: 2.5rem;
    color: rgba(220, 219, 219, 0.847);
    padding: 5rem, 0;
}



.btn{
    display: inline-block;
    border: .00005rem solid var(--new-border);
    background: var(--white);
    padding: 0.7rem 3rem;
    text-decoration: none;
    border-radius: 0.7rem;
    margin-top:15%;
    cursor: pointer;
    
}
.btn:hover{
    background: rgb(182, 181, 181);
    transition: .5s;
    opacity: .7;
    
}

a.btn {
    color: var(--main-color); 
    font-weight: bolder;
  }

  a.btn:hover {
    color: var(--white); 
    font-weight: bolder;
    
  }
.home .controls{
    padding:1rem;
    border-radius: 5rem;
    position: relative;
    top: 2rem;

}

.home .controls .photo-btn{
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 50%;
    background: #edecec;
    cursor: pointer;
    margin: 0 .5rem;  


}
 
  .home .controls .photo-btn:hover {
    background-color: #a8a7a7;
    transition: background-color 0.6s ease;

  }
  

  .home .controls .photo-btn.active{
    background: var(--main-color);
  }
  
/* .fa-map-marker-alt {
     font-size: .5rem;
} */


  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
hr{
  border: none;
  border: .005rem solid var(--main-color); 
margin-bottom: 1rem;
display: flex;
margin-right:5rem;
margin-left:5rem;



}



  .home .photo-container img{
    position: absolute;
    top:0; left:0;
    z-index: -1;
    height: 95%;
    width: 100%;
    object-fit: cover;
  }
 
  .top-destinations{
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }


  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }

  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }



  .top-destinations .box-container{
  
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
  }



  .top-destinations .box-container .box {
    background: var(--white);
    border: .05rem solid rgb(231, 231, 231);
    border-radius: .5rem;
    flex: 0 0 25rem; 

  }
  @media (max-width:450px){
    .top-destinations .box-container .box { 
  flex: 0 0 21rem; 
}
}

 
  .top-destinations  h1{
    text-align: center;
    padding-bottom: .2rem;
    font-size: 2.5rem;
      

  }
  .top-destinations .box-container  .box .image{
    height: 20rem;
    overflow: hidden;
  }
  

  .top-destinations .box-container .box:hover .image img{
    transition: transform 0.4s ease;
    transform: scale(1.2);

  }
 


  .top-destinations .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    border-radius: .5rem .5rem .3rem .3rem ;
    /* border-radius: .5rem .5rem 0 0; */

 }



 .top-destinations .box-container .box .image .btn {
  /* position: relative; */
  /* margin-right: 3rem; */
  margin-top: 0rem  !important;
  margin-left: 0rem;
 transform: translate(100%, -115%);
  -ms-transform: translate(-0%, -130%);
  padding: .7rem  .7rem .7rem  .7rem !important;
  /* font-weight: lighter !important; */
  font-size: .8rem !important;
color: #222 !important;
}

 .top-destinations .box-container .box .content{
   /* text-align: center; */
   padding: 1rem;
   background-color: rgb(250, 248, 248);
   border-radius: .5rem;


 }

 .top-destinations .box-container .box p{

    font-size: .9rem;
    color: grey;
    line-height: 1.5;
    /* padding: 0rem 0; */

 }

 .top-destinations .box-container .box .content h3{

  color: rgb(98, 98, 98);
  line-height: 2;
  padding: .5rem 0;

}


.fa-map-marker-alt{
  color: var(--main-color);}


.top-destinations .box-container .box .content .fa-map-marker-alt{

  color: var(--main-color);
  line-height: 1;
  padding: .5rem 0;
}

 .top-destinations .box-container .box  .content .btn{
    cursor: pointer;
    margin-top: 1rem;
    border-radius: .7rem;
    border-color: var(--main-color);

 }
 
   
  .about-section .box-container{
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
display: flex;

  }


  .about-section .box-container  .box .image{
    
    height: 10rem;
    width: 11rem;
    border-radius: .5rem;
    overflow: hidden;    
    flex-wrap: wrap;

  }

  .about-section .box-container  .box{
  display: flex;
  justify-content: center;
  align-items: center;

  }

  .about-section .box-container .box .image img{
    height: 10rem;
    width: 11rem;
    object-fit: cover;
    border-radius: .5rem;
    border: .0005rem solid rgb(184, 184, 184);

 }

 .about-section  h1{
    text-align: center;
    padding-bottom: .2rem;
    padding-top: 2rem;
    font-size: 2.5rem;
  }


  
 .about-section .about-content p{
    font-size: 1rem;
    color: var(--p-text);
    line-height: 2;
    justify-content: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;

 }
 .about-section .about-content p .btn{

    /* display: inline-block; */
    border: .0005rem solid var(--main-color);
    background: var(--white);
    padding: 0.25rem 3rem;
    border-radius: 0.7rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    

 }
  

 .about-section .about-content p .btn:hover{
    background: rgb(182, 181, 181);
    transition: .5s;
    opacity: .7;
    
}

.contact-section .about-content h1{
    text-align: center;
    padding-bottom: .2rem;
    padding-top: 0rem;
    font-size: 2.5rem;
  }

  .contact-section .box-container{
    display:flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */

  }
  
  .contact-section .box-container .image{
    flex: 1 1 35rem;

  }

  .contact-section .box-container .image img{
    width: 40rem;
    margin-right: 0rem;
    /* outline: red dashed 1px; */
  }

  .contact-section form{
    flex: 1 1 30rem;
    padding: 2rem;
    border-radius: 3rem;
    background: var(--white);
    border: .0005rem solid rgb(231, 231, 231);
    margin-left: 0;
  }

  .contact-section form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-section form span .btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 0.005rem solid var(--sub-color);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-top: 3rem;
}

.contact-section form .inputBox input{
  width: 80%;
  margin:1rem 0;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  color:#222;
  justify-content: space-between;
  border-radius: .5rem;
  background: whitesmoke;
}

.contact-section form .inputBox textarea{
  width: 80%;
  margin:1rem 0;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  color:#222;
  justify-content: space-between;
  border-radius: .5rem;
  background: whitesmoke;



}


/* packages-section */
.packages-section .about-content p {
  text-align: center;
}
.packages-section .about-content a {
color: var(--main-color);
font-weight: bolder;
}


.packages-section{
  padding-left: 3rem;
  padding-right: 3rem;
}

.packages-section .box-container{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
  gap: 2rem;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;

}


.packages-section .box-container .box {
  background: var(--white);
  border: .0005rem solid rgb(231, 231, 231);
  border-radius: .5rem;
  box-shadow: var(--soft-shadow);
  /* outline: dashed red 1px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}


.packages-section  h1{
  text-align: center;
  padding-bottom: .2rem;
  font-size: 2.5rem;
}

.packages-section  #price{
  text-align: right;
  font-size: 1rem;
  color: var(--main-color)
}

.packages-section  #price span{
  text-align: right;
  padding-bottom: .2rem;
  font-size: .5rem;
}



.packages-section .box-container .box .image{
  width: 100%;
  height: 26rem;
  object-fit: cover;

}


.packages-section .box-container .box img{
  height: 26rem;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem  0 0 .5rem ;
  object-position: center;
}

.packages-section .box-container .box:hover .image{
  transition: 0.3s linear;
  opacity:0.7;
  /* outline: dashed rgb(30, 255, 0) 1px; */

}

.packages-section .box-container .box .content{
 text-align: center;
 padding-top: .8rem;
 padding-right: .8rem;
 padding-left: .8rem;

 
}

.packages-section .box-container .box p{
  font-size: .8rem;
  color: var(--main-color);
  line-height: 2;
  /* padding: .005rem 0; */

}

.packages-section .box-container .box  .content .btn{
  cursor: pointer;
  margin-top: .5rem;

}

.services{
  padding-top: 1rem;
}

.services  h1{
  text-align: center;
  padding-bottom: .2rem;
  font-size: 2.5rem;
}

.services .box-container{
  display: wrap; 
  /* flex-wrap: wrap; */
  gap: .5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.services .box-container .box{
  flex: 1 1 10rem;
  border-radius: .3rem;
  padding: .5rem;
  text-align: center;
  /* outline: 1px yellow dashed; */
}

.services .box-container .box i{
padding: 1rem;
font-size: 3rem;
color:var(--main-color);

}

.services .box-container .box h3{
  font-size: 1.5rem;
  color:var(--sub-color);
  
  }
.experiences .heading-title1{
  font-size: 4rem;
}
  .services .box-container .box p{
    font-size: 1rem;
    color:var(--sub-color);
    padding: 1rem 0;
    }
    
 .heading {
   background-size: cover !important;
  background-position: cover !important;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;  

 }
/* 
 .screen-container {
  display: grid;
  grid-template-columns: 20% 80%; 
  grid-gap: 0; 
  margin: 0, 0;
} */

/* 
.screen-container:nth-child(2) {
  grid-column: 10%; } */


 .experiences .sidebar{
  height: 40rem;
  margin-top: 4.5rem;
  width: auto; 
font-size: 1rem;
}

.form-check{
  line-height: 2rem;

}
 .experiences{
  margin-top:0 !important;
  padding: 1rem;


 }

 

 .sub-experience{
  padding: 1rem;

 }
.experiences .category1{
 display: inline-block;
 border: .00005rem solid rgb(169, 210, 255);
 background: var(--white);
 padding: 0.2rem .7rem;
 text-decoration: none;
 border-radius: 1.5rem;
 margin:.5rem .005rem;
 cursor: pointer;
 font-size: .7rem;
 background-color: rgb(47, 121, 199);
 font-weight: bolder;
 color: rgb(169, 210, 255);
}

.experiences .category2{
  display: inline-block;
  border: .00005rem solid rgb(236, 8, 84);
  background: var(--white);
  padding: 0.2rem .7rem;
  text-decoration: none;
  border-radius: 1.5rem;
  margin:.5rem .005rem;
  cursor: pointer;
  font-size: .7rem;
  background-color: rgb(126, 0, 42);
  font-weight: bolder;
  color: rgb(236, 8, 84);
 }

 .experiences .category3{
  display: inline-block;
  border: .00005rem solid rgb(30, 227, 218)
  background: var(--white);
  padding: 0.2rem .7rem;
  text-decoration: none;
  border-radius: 1.5rem;
  margin:.5rem .005rem;
  cursor: pointer;
  font-size: .7rem;
  background-color:rgb(59, 157, 152);
  font-weight: bolder;
  color: rgb(30, 227, 218);
 }

 .experiences .category4{
  display: inline-block;
  border: .00005rem solid rgb(207, 167, 255);
  background: var(--white);
  padding: 0.2rem .7rem;
  text-decoration: none;
  border-radius: 1.5rem;
  margin:.5rem .005rem;
  cursor: pointer;
  font-size: .7rem;
  background-color:rgb(114, 78, 158);
  font-weight: bolder;
  color: rgb(207, 167, 255);
 }

 .experiences .category5{
  display: inline-block;
  border: .00005rem solid rgb(253, 184, 100);
  background: var(--white);
  padding: 0.2rem .7rem;
  text-decoration: none;
  border-radius: 1.5rem;
  margin:.5rem .005rem;
  cursor: pointer;
  font-size: .7rem;
  background-color:rgb(203, 112, 0);
  font-weight: bolder;
  color: rgb(253, 184, 100);
 }
 .heading h1{
  color: var(--white);
  /* opacity: 0.9; */
 }


 /* search properties */



 .search {
  width:100%;
  height: 3rem;
  display: flex;
  max-width: 70%;
  background: var(--white);
  border: .0005rem solid rgb(231, 231, 231);
  border-radius: 3rem;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
 }

 .search input {
  flex: 1;
  border: 0; 
  outline: none;
  padding: .5rem;
  font-size: 1rem;
  color: var(--black);
 }

 ::placeholder{
  color: rgb(158, 157, 157);

 }
.search-bar .search  .fa-solid {
  color: var(--main-color);
  background: white;
}

.search-bar .search  button {
  /* outline: 1px rgb(22, 20, 145) dashed; */
  /* border-radius: 50%; */
  height: 3rem;
  width: 3rem;
  background: transparent;
cursor: pointer;

}
.experiences   .view-more-button {
border: .00005rem solid var(--new-border);
background: white;
padding: 0.7rem 2.5rem;
border-radius: 0.8rem;
cursor: pointer;
font-weight: bolder;
color: var(--main-color);
font-size: 1rem;
display: block;
margin: 2rem auto;
}

.experiences   .view-more-button:hover{
  color: blue;
}

.experiences .search-bar   p{
  padding-top: 1rem;
}

.experiences .search-bar   a{
font-weight: bolder;
color: var(--main-color);
}
.experiences .search-bar .btn{
  margin-top: 1rem;
  border-radius: 1.5rem;
  border: var(--border);
font-size: .7rem;
color: var(--main-color);
font-weight: bolder;
cursor: pointer;
padding: .5rem 3rem !important;

}

.experiences .search-bar .btn:hover{
  color: var(--white)
}

.experiences{
  padding: 1rem, 5rem;


}

.experiences .box-container{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: .8rem;
  cursor: pointer;
  flex-wrap: wrap;
  justify-content: center;

}


.experiences .box-container .box {
  background: var(--white);
  border: .0005rem solid rgb(231, 231, 231);
  border-radius: .5rem;
  width: 17rem;

}

.experiences  h1 {
  text-align: center;
  padding-bottom: 0rem;
  font-size: 2.5rem;
  color: var(--sub-color);
}

.experiences  a{
  justify-content: center;
  align-items: center;
}

/* .experience .box-container  .box image{
  height: 1rem;
  overflow: hidden;
  
}  */
.experiences hr {
border: none;
border: .005rem solid var(--main-color); 
margin-bottom: 1rem;
display: flex;
margin-right:4rem;
margin-left:4rem;
}


.experiences .box-container .box:hover .image img{
  transition: 0.3s;
  opacity:0.7;
  object-fit: cover;
}




.experiences .box-container .box img{
  height: 12rem;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
  border-radius: .5rem .5rem 0 0;
}

.experiences .box-container .box .content{
 text-align: center;
 padding: .5rem;
}

/* .experience .box-container .box p{

  font-size: 1rem;
  color: var(--main-color);
  line-height: 2;
  padding: .5rem 0;

} */

.experiences .box-container .box h3{
  font-size: .8rem;
  color: rgb(71, 71, 71);
  /* color: var(--main-color); */
  /* padding: .5rem 0; */

}

.experiences .box-container .box  .content .btn{
  cursor: pointer;
  margin-top: 0;
  padding: .3rem .5rem;
  font-size: .8rem;
  border: .05rem solid rgb(83, 83, 83);

}

@media(prefers-reduced-motion){
  top-destinations{
    transition: none;
}}

.top-destinations{
  opacity: .2;
  transition:  all 2s;
  transform: translateY(8rem);
 }
 .experiences-info{
  opacity: .2;
  transition:  all 2s;
  transform: translateY(10rem);
 }

 .services{
  opacity: .2;
  transition: 2s;
  transform: translateY(8rem);
 }

 .reviews{
  opacity: .2;
  transition: 2s;
  transform: translateY(6rem);
 }

.show{
  opacity: 1;
  transform: translateX(0);
}


  .alert-success {
    z-index: 1;
    background-color: green;
    padding: 5rem 5rem;
    width: 100%;
    border-left: .0005 pink;
  }

  .alert-success {
    z-index: 1;
    background-color: green;
    padding: 5rem 5rem;
    width: 20rem;
    border: .0005 rgb(58, 24, 191);
  }


.reviews{
  padding: 0 0;
}

.reviews  h1{
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.reviews .box-container{

    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  padding: 0 2rem;
  gap: 1.5rem;
}

.reviews .box-container .box{

  border-radius: .3rem;
  padding: .5rem;
  text-align: center;
  /* outline: 2px rgb(24, 22, 177) dashed; */
  /* height: 25rem; */
  width: auto;
  border:  var(--home-border-box);
  background-color: white;

}


.reviews .box-container p{
font-size: 1rem;
}


  .reviews p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 0 2rem;
  }

  .fa-star{
    color: gold;
  }


  .reviews .box-container .box .profile {
   
    height: 5rem;
    width: 5rem;
    border:var(--home-border-box);
    border-radius: 50%;
    display: inline-block;

  }

  .reviews .box-container .box .profile img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
  }

  @media (max-width:800px){
    .reviews .box-container  { 
  /* width: 20rem; */
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: auto;
}
}

@media (max-width:700px){
  .reviews .box-container  { 
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
}


